# Environment variables - KABHI GITHUB PE MAT JAAYE
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# VS Code
.vscode/

# Mac
.DS_Store

# Node / React
node_modules/
frontend/dist/
frontend/build/